ADMIN_EMAIL=
ALLOWED_MIME_TYPES=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
FIREBASE_API_KEY=
GEMINI_API_KEY=
MAX_FILE_COUNT=
MAX_FILE_SIZE_MB=
REPLACE_WITH_ACTUAL_PROJECT_NAME=
SAVE_UPLOADS=
SITE_NAME=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
VITE_API_URL=
VITE_REPLACE_WITH_ACTUAL_PROJECT_NAME=